.data-entry {
  padding: 2rem 1.5rem 1.5rem;
  box-shadow: var(--shadow-standard);
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius);
  background-color: var(--bg-clr-300);
  border: 1px solid var(--bg-clr-200);
  .address-entry {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: baseline;
    position: relative;
    .address-label {
      user-select: none;
      font-size: 1rem;
    }
    .address-value {
      font-size: 1.5rem;
      user-select: auto;
      font-family: "DM Mono", monospace;
      cursor: text;
      font-weight: 500;
      letter-spacing: -0.0625em; //16px * 0.0625 = 1px
      margin-left: 1em;
      display: flex;
      letter-spacing: 0px;
      .octet {
        --clr-pre-split: var(--text-clr-400);
        --clr-post-split: var(--accent-400);
        color: var(--clr-pre-split);
        display: flex;
        .bit-split + .bit-split {
          color: var(--clr-post-split);
        }
        &--affected {
          color: var(--clr-post-split);
        }
        &--mask-split {
          margin-left: 1rem;
          &::after {
            color: inherit;
          }
        }
        .bit {
          color: var(--clr-pre-split);
          &--affected {
            color: var(--clr-post-split);
          }
          &--splitted {
            margin-left: 1rem;
          }
        }
      }
      .octet:not(:last-child) {
        &::after {
          content: ".";
          letter-spacing: inherit;
        }
      }
    }
    &::after {
      content: "";
      width: 2px;
      height: 80%;
      top: 10%;
      left: calc(80px + 0.5rem);
      background-color: var(--bg-clr-100);
      position: absolute;
    }
    &--mask {
      .address-value {
        align-items: baseline;
      }
      .address-bits {
        margin-left: 0.5em;
        font-size: 0.55em;
        color: var(--text-clr-600);
      }
    }
  }
  .label {
    user-select: none;
    display: flex;
    align-items: center;
    top: -2rem;
    font-size: 0.9rem;
    border-radius: var(--border-radius);
    transform: translateY(50%);
    background-color: var(--bg-clr-200);
    border: 1px solid var(--bg-clr-100);
    padding: 0.5em 1.5em;
    margin-top: 0;
    font-weight: 700;
    position: absolute;
    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
  & + & {
    margin-top: 3rem;
  }
  &--passed {
    display: flex;
    .address-entry {
      width: 100%;
      display: flex;
      flex-direction: column;
      .address-label {
        font-size: 1rem;
      }
      .address-value {
        font-size: 1.75rem;
        margin: 0.25rem 0 0 0;
        font-weight: 500;
        color: var(--accent-300);
      }
      &::after {
        display: none;
      }
    }
  }
  &--binary {
    position: relative;
    .address-entry {
      align-items: center;
    }
    .mask-split {
      position: absolute;
      bottom: 1rem;
      font-size: 1.5rem;
      //get the line to the start of address-value
      //then use transform with ch unit to move exactly x chars
      left: calc(80px + 1.5rem + 1em);
      transform: translateX(calc(12ch + 0.5rem - 1px));
      font-family: "DM Mono", monospace;
      width: 2px;
      height: calc(100% - 1.5em);
      background-color: var(--accent-400);
      &::before {
        content: "Mask";
        white-space: nowrap;
        position: absolute;
        text-transform: uppercase;
        top: 4em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.35em 0.75em;
        font-size: 0.7rem;
        border-radius: 3px;
        font-weight: 500;
        background-color: var(--accent-400);
        color: var(--text-clr-400);
      }
    }
    .address-entry--binary-ip {
      margin-bottom: 2rem;
    }
    .address-entry--binary-ip {
      .address-value {
        .octet {
          --clr-pre-split: var(--text-clr-400);
          --clr-post-split: var(--accent-error);
          --opacity: 0.5;
          color: var(--clr-pre-split);
          &--affected:not(.octet--splitted) {
            opacity: var(--opacity);
          }
          &--affected {
            color: var(--clr-post-split);
            &.octet--splitted {
              .bit--affected {
                opacity: var(--opacity);
              }
            }
            ~ .octet {
              opacity: var(--opacity);
              &::after {
                opacity: 1;
              }
            }
            &::after {
              opacity: var(--opacity);
            }
          }
          .bit {
            color: var(--clr-pre-split);
            &--affected {
              color: var(--clr-post-split);
            }
          }
        }
      }
    }
    // .address-entry--binary-mask,
    // .address-entry--binary-ip {
    //   .address-value .octet {
    //     color: var(--text-clr-500);
    //     .bit--affected {
    //       color: var(--text-clr-500);
    //     }
    //   }
    // }
  }
  &--decimal {
    .address-entry {
      align-items: center;
    }
  }
  &--additional-info {
    .address-entry {
      grid-template-columns: 70px 1fr;
      .address-value {
        color: var(--accent-300);
        font-size: 1.125rem;
      }
      & + .address-entry {
        margin-top: 0.25rem;
      }
      &::after {
        left: calc(65px + 0.5rem);
      }
    }
  }
}

@media (max-width: 768px) {
  .address-value {
    font-size: 1.25rem !important;
  }
}
